.main_body {
    width: 70%;
    margin: 20px auto;
    background:white;
    box-shadow: 0 0 10px skyblue;
    /* border-radius: 15px; */
    padding-bottom: 30px;
}
.form {
    padding:0;
}
.heading_div {
    background: linear-gradient(#b5e9fc),url('../../assets/header_background.jpg') no-repeat center;
    background-blend-mode: multiply;
    background-size: cover;
    padding:60px 0;
}
.form_body_container {
    width:95%;
    margin : auto;
    margin-top: -60px;
    background:white;
    padding:20px 0;
    border:0.5px solid lightgrey;
    border-radius: 5px;
    overflow: hidden;
}
/* form styling */
.form h1 {
    width:100%;
    text-align: center;
    padding:40px 0;
}
.form_decide,.form_body {
    margin:auto;
}

.person_card {
    margin: 30px auto;
    padding: 10px;
    /* box-shadow: 0 0 15px lightgrey; */
    border:1px solid lightgrey;
    border-radius: 6px;
}
.person_card h4 {
    font-size: 20px;
    padding-left: 15px;
}
.report_card {
    width: 100%;
    margin: 30px 0;
    background: #E2F6FE;
    padding: 5px;
    border: 1px solid #b5e9fc;
    border-radius: 6px;
}
.who_pays_how_much {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #b5e9fc;
}
.amount_paid { 
    border-bottom: 1px solid #b5e9fc;
    margin:auto -5px;
}
.amount_paid p {
    margin-bottom: 0;
    font-size: 12px;
    padding:5px;
    text-align: center;
}
.amount_value {
    color:#579cb5;
    background: #c3e0eb;
    text-align: center;
}
.amount_value:after,.amount_value:before {
    content: "";
    position: absolute;
    left: 100%;
    width: 20px;
    height: 50%;
}
.amount_value:before {
    top: 0px;
    background: linear-gradient(to top right, #c3e0eb 50%, transparent 51%);
}
.amount_value:after {
    bottom: 0px;
    background: linear-gradient(to bottom right, #c3e0eb 50%, transparent 51%);
}
.amounts_row {
    padding-top:8px;
}
.delete_amount {
    font-size: 16px;
    padding:4px 5px;
    margin-right: 20px;
    background:transparent;
    color: red;
    border:0;
}
.individual_total_amount {
    float: right;
    padding-right: 25px;
    line-height: 1.5;
    font-weight: bold;
}
input {
    padding:3px 20px;
    font-size: 13px;
    border-radius: 25px; 
}
button {
    font-size: 13px;
    padding:3px 20px; 
    border-radius:25px;
}
.add_person_btn {
    position: absolute;
    top:0;
    right:15px;
    outline:0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.total_amount {
    width: 80%;
    margin-left:auto;
    background: #E2F6FE;
    border: 1px solid #b5e9fc;
    border-radius: 6px;
}
.total_amount p{
    margin-bottom: 0;
    display: inline;
    padding:5px 15px;
}
.total_amount span {
    padding:0 15px;
}
.right_aside_content {
    width:110%;
    text-align: center;
    margin:auto;
    margin-top: 40px;
    padding-top: 60px;
    background: url('../../assets/right_aside_background.svg');
    background-size: cover;
}
.right_aside_content_inner {
    width:60%;
    margin:auto;
}
.right_aside_content_inner p {
    line-height: 2.5;
    font-size: 18px;
}
.final_calculate_result {
    padding:5px 20px;
    width: 60%;
    font-weight: bold;
    font-size: 14px;
}
/* .right_aside_content p{
    text-align: justify;
} */
