<div class="container-fluid p-0">
    <section class="form">
        <div class="heading_div ui pointing menu container mt-3" style="height:100px;display: flex;justify-content: center;align-content: center;">
            <img src="../../assets/logo.png" width="160px"/>
        </div>
        <div class="container ui segment">
            <div class="row form_decide w-100 form-group">
                <div class="col-md-12 ui header px-3">
                    <h3>How many persons paid?</h3>
                </div>
                <div class="col-md-6 ui input action">
                    <input type="text" (input)="tcode=$event.target.value" name="expensor" placeholder="No. of Persons" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                    <button (click)="addPerson()" class="ui button primary">Add More</button>
                </div>
                <div class="col-md-6">
                    <div class="total_amount ui info message ignored m-0 w-100">
                        <p>Total Amount: </p>
                        <span class="float-right">{{totalAmount}}</span>
                    </div>
                </div>
            </div>
            <div class="row form_body w-100">
                <div class="col-md-6">
                    <form [formGroup]="form">
                        <div formArrayName="persons">
                        <div *ngFor="let person of form['controls'].persons['controls'];let i=index">
                            <div *ngIf="i >= startIndex && i <= endIndex" class="person_card form-group ui segment my-3">
                                <h4 class="p-0">Person {{i+1}}</h4>
                                <div formGroupName="{{i}}">
                                    <div class="row">  
                                        <div class="col-md-8 ui input">
                                            <input type="text" formControlName="personName" class="form-control" placeholder="Person's Name">
                                        </div>
                                        <div class="col-md-4">
                                            <span class="individual_total_amount">&#x20B9;{{individualTotal[i]}}</span>
                                        </div>
                                    </div>
                                    <div formArrayName="howMuchs">
                                        <div *ngFor="let howMuch of person['controls'].howMuchs['controls']; let j=index">
                                            <div formGroupName="{{j}}">
                                                <div class="row amounts_row">
                                                    <div class="col-md-4 ui input" style="padding-right:0;">
                                                        <input type="text" class="form-control" placeholder="Pay for what">
                                                    </div>
                                                    <div class="col-md-4 ui input">
                                                        <input type="text" (keyup)="send(form.value);countTotalAmount();calculateExpense()" formControlName="howMuch"  class="form-control"
                                                        placeholder="Amount Paid" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                                                    </div>
                                                    <div class="col-md-4" *ngIf="j>0">
                                                        <button type="button" (click)="deleteAmount(j,i)" class="delete_amount float-right">&#10005;</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button style="margin:10px 0;" (click)="addAmount(i)" class="ui button" value="Add Expense">Add Expense</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </form>
                    <div *ngIf="pages.length > 1">
                        <a href="" (click)="previous($event)">{{ previousLabel }}</a>
                        <span *ngFor="let page of pages" class="ui pagination menu">
                            <span *ngIf="page === currentPage" href="" (click)="setCurrent($event,page)" class="item">{{page}}</span>
                            <a *ngIf="page !== currentPage" href="" (click)="setCurrent($event,page)" class="item">{{page}}</a>
                        </span>
                        <a href="" (click)="next($event)">{{ nextLabel }}</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ui segment my-3" *ngIf="showReportButton">
                        <div class="right_aside_content_inner text-center">
                            <h3 class="header">Who paid what?</h3>
                            <p>Enter the names and how much everyone spent for the group.Add more expenses with the <b>"Add Expense Button"</b>, Remove them with the <b>"X Button"</b></p>
                            <button class="ui button green"  (click)="splitPayments(mergedArray)">Calculate</button>
                        </div>
                    </div>
                    
                    <div class="report_card my-3 ui info message" *ngIf="reportCardShow">
                        <div class="row" style="padding:0 10px;">
                            <div class="col-md-12 who_pays_how_much ui header">
                                Who pays whom how much:
                            </div>
                        </div>
                        <div class="amount_paid" *ngFor="let p of payersArray;let i=index"  style="padding:0 10px;">
                            <div class="row">
                                <div class="col-md-4">
                                    <p>{{p.payer}}</p>
                                </div>
                                <div class="col-md-4 amount_value">
                                    <p>{{p.amount}}</p>
                                </div>
                                <div class="col-md-4">
                                    <p>{{p.payee}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="ui button green my-1"  (click)="splitPayments(mergedArray)">Calculate Again</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
