<section>
    <div class="main_body">
        <section class="form container">
            <h1>Calculate Your expense</h1>
            <div class="row form_decide w-100 form-group">
                <div class="col-md-12">
                    <h5>How many persons paid?</h5>
                </div>
                <div class="col-md-8">
                    <input type="number" (input)="tcode=$event.target.value" class="form-control" name="expensor" placeholder="No. of Persons" min="0" max="5" maxlength="5"/>
                </div>
                <div class="col-md-4">
                    <button (click)="addMorePerson()" class="btn btn-outline-primary add_person_btn">Add More</button>
                </div>
            </div>
            <div class="row form_body w-100">
                <div class="col-md-6">
                    <form [formGroup]="personsForm">
                        <div class="person_card form-group" *ngFor="let person of getPersonFormControls(); let i = index">
                            <div class="row py-2">
                                <div class="col-md-8">
                                    <input type="text" [formControl]="person" class="form-control" name="personName" placeholder="Person 1"/>
                                </div>
                                <div class="col-md-4">
                                    <span>{{individualTotal}}</span>
                                </div>
                            </div>
                            <div class="row py-2" *ngFor="let howMuch of getExpenseFormControls(); let i = index">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="forWhat" placeholder="For What?"/>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" [formControl]="howMuch" class="form-control" placeholder="How Much" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-md-12">
                                    <button (click)="addMoreExpense()" class="btn btn-primary">Add More</button>
                                    <button (click)="removeExpense(i)" class="btn btn-danger">Remove Expense</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="total_amount">
                        <p class="float-left">Total Amount: </p>
                        <span class="float-right">220</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="report_card">
                        <div class="row" style="padding:0 10px;">
                            <div class="col-md-12 who_pays_how_much">
                                Who pays whom how much:
                            </div>
                        </div>
                        <div class="row amount_paid" style="padding:0 10px;">
                            <div class="col-md-4">
                                <p>Person 1</p>
                            </div>
                            <div class="col-md-4 amount_value">
                                <p>amount</p>
                            </div>
                            <div class="col-md-4">
                                <p>Person 2</p>
                            </div>
                        </div>
                        <div class="row amount_paid" style="padding:0 10px;">
                            <div class="col-md-4">
                                <p>Person 1</p>
                            </div>
                            <div class="col-md-4 amount_value">
                                <p>amount</p>
                            </div>
                            <div class="col-md-4">
                                <p>Person 2</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
