.main_body {
    width: 70%;
    margin: 20px auto;
    background:white;
    box-shadow: 0 0 10px lightgrey;
    border-radius: 15px;
    padding-bottom: 30px;
}
/* form styling */
.form h1 {
    width:100%;
    text-align: center;
    padding:40px 0;
}
.form_decide,.form_body {
    margin:auto;
}

.person_card {
    margin: 30px auto;
    padding: 10px;
    box-shadow: 0 0 15px lightgrey;
    border-radius: 6px;
}
.person_card h4 {
    font-size: 20px;
    padding-left: 15px;
}
.report_card {
    width: 80%;
    margin: 40px auto;
    background: #E2F6FE;
    padding: 5px;
    border: 1px solid #b5e9fc;
    border-radius: 6px;
}
.who_pays_how_much {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #b5e9fc;
}
.amount_paid { 
    border-bottom: 1px solid #b5e9fc;
    margin:auto -5px;
}
.amount_paid p {
    margin-bottom: 0;
    font-size: 12px;
    padding:5px;
    text-align: center;
}
.amount_value {
    color:#579cb5;
    background: #c3e0eb;
    text-align: center;
}
.amounts_row {
    padding-top:8px;
}
.delete_amount {
    font-size: 12px;
    padding:4px 10px;
}
.individual_total_amount {
    float: right;
    padding-right: 25px;
    line-height: 1.5;
    font-weight: bold;
}
input {
    padding:3px 20px;
    font-size: 13px;
    border-radius: 25px; 
}
button {
    font-size: 13px;
    padding:3px 20px; 
    border-radius:25px;
}