.main_body {
    width: 70%;
    margin: 20px auto;
    background:white;
    box-shadow: 0 0 10px lightgrey;
    border-radius: 15px;
    padding-bottom: 30px;
    background-image: url('https://upload.wikimedia.org/wikipedia/wikimania2014/7/7a/WM_Main_background_v5.svg');
    background-size: cover;
}
.header_logo {
    padding: 15px 0;
}
.header_logo p {
    text-align: center;
    margin:0;
}
.header_logo h1 {
    font-weight: bold;
    padding:40px 0;
    color:black;
}
.after_header {
    margin:auto;
}
hr {
    background-image: linear-gradient(90deg,transparent,lightgrey, transparent);
    border: 0;
    height: 3px;
}
.tagline_heading {
    text-align: center;
    font-size: 24px;
    padding: 15px 0;
    font-weight: thin;
    margin-bottom: 0;
}
.about {
    margin:20px auto;
    text-align: center;
}
.description,
.create_btn  {
    margin:auto;
    padding: 40px 0;
}