.main_body {
    width: 70%;
    margin: 20px auto;
    background:white;
    padding-bottom: 30px;
}
.top_header {
    cursor: default;

}
.header_logo{
    background-size: cover;
    text-decoration: none;
    border-bottom: 1px solid lightgrey;
}
.header_logo p {
    text-align: center;
    margin:0;
}
.header_logo h1 {
    font-weight: bold;
    padding:20px 0;
    color:black;
    font-size: 42px;
}
.header_logo a{
    cursor: default;
}
.after_header {
    margin:auto;
    padding:14px 0 0 0;
}
hr {
    background-image: linear-gradient(90deg,transparent,lightgrey, transparent);
    border: 0;
    height: 3px;
}
.tagline_heading {
    text-align: center;
    font-size: 28px;
    padding: 15px 0;
    font-weight: thin;
    margin-bottom: 0;
}
.blockquote {
    text-align: center;
    padding: 30px 0;
    margin:0;
}
.about {
    margin:20px auto;
    text-align: center;
}
.about_paragraph {
    font-size: 18px;
    padding:20px 0 0 0;
    width: 70%;
    margin:auto;
    text-align: center;
    line-height: 28px;
}
/* how it works style */
.how_it_works {
    margin: auto;
}
.how_it_works h2 {
    text-align: center;
    padding:40px 0;
}
.details_icon {
    width: 10%;
    margin:auto;
}
.details_icon img{
    width: 100%;
}
.details_heading h3{
    width: 100%;
    padding:20px 0;
    text-align: center;
}
.details_body p{
    text-align: center;
    width: 70%;
    margin:auto;
    font-size: 16px;
    padding:10px 0;
}
/* why choose us style */
.why_choose_us {
    margin:auto;
    text-align: center;
}
.why_choose_us h6 {
    padding:25px 0; 
}
.why_choose_us h2 {
    text-align: center;
    padding:40px 0;
}
.choose_details_heading {
    width: 100%;
    text-align: center;
}
.choose_details_heading h4 {
    font-size: 20px;
}
.choose_details_body p{
    width:70%;
    margin: auto;
    padding:10px 0;
}
.choose_details_body p {
    font-size: 16px;
}
/* footer style */
.footer span{
    width: 100%;
    text-align: center;
}
.footer img{
    width: 25px;
}
.style_background{
    height:65vh;
    background:linear-gradient(#6AC0F1, #27C3AC);
    margin:-65vh;
    z-index: -10;
}